[submodule ".\\neovim\\config\\bundle\\Vundle.vim"]
	path = .\\neovim\\config\\bundle\\Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "posh-git"]
	path = posh-git
	url = https://github.com/dahlbyk/posh-git
